<section class="section about" id="about">
  <div class="container about-container">
    <div class="about-content">
      <h2 class="about-title">About Us</h2>
      <p class="about-text-first">
        Welcome to our premium watch collection, where luxury and style meet
        functionality and precision. Our selection of timepieces embodies the
        very best in Swiss craftsmanship and engineering, ensuring that you'll
        always have a reliable and stylish accessory on your wrist.
      </p>
      <p class="about-text-second">
        At our premium watch collection, we believe that a watch is more than
        just a timekeeping device – it's a statement piece that reflects your
        personality and style. So why settle for anything less than the best?
      </p>
      <a href="#catalog" class="about-link">View catalog</a>
    </div>
    <picture>
      <source
        srcset="
          /img/img-about/Rectangle_desk1x.png 1x,
          /img/img-about/Rectangle_desk2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /img/img-about/Rectangle_tab1x.png 1x,
          /img/img-about/Rectangle_tab2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /img/img-about/Rectangle_mob1x.png 1x,
          /img/img-about/Rectangle_mob2x.png 2x
        "
        media="(min-width: 320px)"
      />
      <img
        class="about-img"
        src="/img/img-about/Rectangle_desk1x.png"
        width="704"
        alt="watch"
      />
    </picture>
  </div>
</section>
