<section class="section-about">
    <div class="conteiner">
        <div class="about-content">
            <h2 class="about-title">About Us</h2>
            <ul class="about-list">
                <li class="about-item">Welcome to our premium watch collection, where luxury and style meet
                    functionality and precision. Our selection of
                    timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll
                    always have a reliable
                    and stylish accessory on your wrist.</li>
                <li class="about-item">At our premium watch collection, we believe that a watch is more than just a
                    timekeeping device – it's a statement piece
                    that reflects your personality and style. So why settle for anything less than the best?</li>
            </ul>
            <a href="#catalog" class="about-link">View catalog</a>
        </div>
        <div class="about-wrap">
            <picture>
                <source srcset="/img/img-about/Rectangle-desk1x.jpg 1x, /img/img-about/Rectangle-desk2x.jpg 2x" media="(min-width: 1280px)">
                <source srcset="/img/img-about/Rectangle-tab1x.jpg 1x, /img/img-about/Rectangle-tab2x.jpg 2x" media="(min-width: 768px)">
                <source srcset="/img/img-about/Rectangle-mob1x.jpg 1x, /img/img-about/Rectangle-mob2x.jpg 2x" media="(min-width: 375px)">
                <img class="about-img" src="/img/img-about/Rectangle.jpg" width="530" height="532" alt="watch">
            </picture>
        </div>
    </div>
</section>