<section class="catalog" id="catalog">
  <div class="catalog-container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture class="catalog-image">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/image-catalog/catalog-fenix-d1.png    1x,
              /img/image-catalog/catalog-fenix-d1@2x.png 2x
            "
            width="292"
            height="292"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/image-catalog/catalog-fenix-tab1.png     1x,
              /img/image-catalog/catalog-fenix-tab1@2x.png 2x
            "
            width="268"
            height="292"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/image-catalog/catalog-fenix-mob1.png     1x,
              /img/image-catalog/catalog-fenix-mob1@2x.png 2x
            "
            width="208"
            height="226"
          />
          <img
            src="/img/image-catalog/catalog-fenix-d1.png"
            alt="Wrist watch"
            style="display: block"
            width="292"
          />
        </picture>
        <div class="container-catalog-name">
          <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalig-price">€500</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-image">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/image-catalog/catalog-marq-d2.png     1x,
              /img/image-catalog/catalog-marq-d1@2x.png 2x
            "
            width="292"
            height="292"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/image-catalog/catalog-marq-tab2.png     1x,
              /img/image-catalog/catalog-marq-tab2@2x.png 2x
            "
            width="268"
            height="292"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/image-catalog/catalog-marq-mob2.png        1x,
              /img/image-catalog/catalog-descent-mob3@2x.png 2x
            "
            width="208"
            height="226"
          />
          <img
            src="/img/image-catalog/catalog-marq-d2.png"
            alt="Wrist watch"
            style="display: block"
            width="292"
          />
        </picture>
        <div class="container-catalog-name">
          <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
          <p class="catalig-price">€450</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-image">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/image-catalog/catalog-descent-d3-1x.png  1x,
              /img/image-catalog/catalog-descent-d3@2x.png 2x
            "
            width="292"
            height="292"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/image-catalog/catalog-descent-tab3.png     1x,
              /img/image-catalog/catalog-descent-tab3@2x.png 2x
            "
            width="268"
            height="292"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/image-catalog/catalog-descent-mob3.png   1x,
              /img/image-catalog/catalog-delta-mob4@2x.png 2x
            "
            width="208"
            height="226"
          />
          <img
            src="/img/image-catalog/catalog-descent-d3.png"
            alt="Wrist watch"
            style="display: block"
            width="292"
          />
        </picture>
        <div class="container-catalog-name">
          <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
          <p class="catalig-price">€680</p>
        </div>
      </li>
      <li class="catalog-item">

        <picture class="catalog-image">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/image-catalog/catalog-delta-d4.png     1x,
              /img/image-catalog/catalog-delta-d4@2x.png 2x
            "
            width="292"
            height="292"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/image-catalog/catalog-delta-tab4-1x.png  1x,
              /img/image-catalog/catalog-delta-tab4@2x.png 2x
            "
            width="268"
            height="292"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/image-catalog/catalog-descent-mob3.png   1x,
              /img/image-catalog/catalog-delta-mob4@2x.png 2x
            "
            width="208"
            height="226"
          />
          <img
            src="/img/image-catalog/catalog-deltad4.png"
            alt="Wrist watch"
            style="display: block"
            width="292"
          />
        </picture>
        <div class="container-catalog-name">
          <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
          <p class="catalig-price">€380</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-image">
          <source
            media="(min-width:1280px)"
            srcset="
              /img/image-catalog/catalog-solar-d5.png     1x,
              /img/image-catalog/catalog-solar-d5@2x.png 2x
            "
            width="292"
            height="292"
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/image-catalog/catalog-solar-tab5.png     1x,
              /img/image-catalog/catalog-solar-tab5@2x.png 2x
            "
            width="268"
            height="292"
          />
          <img
            src="/img/image-catalog/catalog-solar-d5.png"
            alt="Wrist watch"
            style="display: block"
            width="292"
          />
        </picture>
        <div class="container-catalog-name">
          <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalig-price">€400</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-image">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/image-catalog/catalog-tube-d6.png     1x,
              /img/image-catalog/catalog-tube-d6@2x.png 2x
            "
            width="292"
            height="292"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/image-catalog/catalog-tube-tab6.png     1x,
              /img/image-catalog/catalog-tube-tab6@2x.png 2x
            "
            width="268"
            height="292"
          />
          <img
            src="/img/image-catalog/catalog-tube-d6.png"
            alt="Wrist watch"
            style="display: block"
            width="292"
          />
        </picture>
        <div class="container-catalog-name">
          <h3 class="catalog-subtitle">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalig-price">€395</p>
        </div>
      </li>
    </ul>
    <button type="button" class="catalog-btn">Show more</button>
  </div>
</section>
