<section class="catalog" id="catalog">
    <div class="container container-catalog">
        <h2 class="catalog-title">Catalog</h2>
        <ul class="catalog-list list">
            <li class="catalog-item">
              <div class="catalog-cover">
                <picture>
                    <source media="(min-width:1280px)" srcset="/img/image-catalog/catalog-fenix-d1 1.png , /img/image-catalog/catalog-fenix-d1 @2x.png">
                    <source media="(min-width:768px)" srcset="/img/image-catalog/catalog-fenix-tab1 1.png , /img/image-catalog/catalog-fenix-tab1 @2x.png">
                    <source media="(min-width:320px)" srcset="/img/image-catalog/catalog-fenix-mob1 1.png , /img/image-catalog/catalog-fenix-mob1 @2x.png"> 
                    <img src="/img/image-catalog/catalog-fenix-d1 1.png" alt="Wrist watch" style="display: block;"/>
                </picture>
                <div class="container-catalog-name">
                  <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
                  <p class="catalig-price">€500</p>
                </div>
              </div>                
              </li>
            <li class="catalog-item">
              <div class="catalog-cover">
                <picture>
                    <source media="(min-width:1280px)" srcset="/img/image-catalog/catalog-marq-d2 1.png , /img/image-catalog/catalog-marq-d2 1.png"/>
                    <source media="(min-width:768px)" srcset="/img/image-catalog/catalog-marq-d2 1.png /img/image-catalog/catalog-marq-mob2 @2x.png"/>
                    <source media="(min-width:320px)" srcset=""/> 
                    <img src="/img/image-catalog/catalog-marq-d2 1.png" alt="Wrist watch" style="display: block;"/>
                </picture>
                <div class="container-catalog-name">
                  <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
                  <p class="catalig-price">€450</p>
                </div>
            </li>
            <li class="catalog-item">
              <div class="catalog-cover">
                <picture>
                    <source media="(min-width:1280px)" srcset="/img/image-catalog/catalog-descent-d3 1.png , /img/image-catalog/catalod-descent-d3 @2x.png"/>
                    <source media="(min-width:768px)" srcset="/img/image-catalog/catalog-descent-tab3 1.png , /img/image-catalog/catalod-descent-tab3 @2x.png"/>
                    <source media="(min-width:320px)" srcset="/img/image-catalog/catalog-descent-mob3 1.png , /img/image-catalog/catalog-descent-mob3 @2x.png"/> 
                    <img src="/img/image-catalog/catalog-descent-d3 1.png" alt="Wrist watch" style="display: block;"/>
                </picture>
                <div class="container-catalog-name">
                  <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
                  <p class="catalig-price">€680</p>
                </div>
            </li>
            <li class="catalog-item">
              <div class="catalog-cover">
                <picture>
                    <source media="(min-width:1280px)" srcset="/img/image-catalog/catalog-delta-d4 @2x.png , /img/image-catalog/catalog-delta-d4 @2x.png"/>
                    <source media="(min-width:768px)" srcset="/img/image-catalog/catalog-delta-tab4  1.png , /img/image-catalog/catalog-delta-tab4 @2x.png"/>
                    <source media="(min-width:320px)" srcset="/img/image-catalog/catalog-descent-mob3 1.png , /img/image-catalog/catalog-delta-mob4 @2x.png"/> 
                    <img src="../img/image-catalog/catalog-delta-d4 1.png" alt="Wrist watch" style="display: block;"/>
                </picture>
                <div class="container-catalog-name">
                  <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
                  <p class="catalig-price">€380</p>
                </div>
            </li>
            <li class="catalog-item">
              <div class="catalog-cover">
                <picture>
                    <source media="(min-width:1280px)" srcset="/img/image-catalog/catalog-solar-d5 1.png , /img/image-catalog/catalog-solar-d5 @2x.png"/>
                    <source media="(min-width:768px)" srcset="/img/image-catalog/catalog-solar-tab5  1.png , /img/image-catalog/catalog-solar-tab5 @2x.png"/>
                    <source media="(min-width:320px)" srcset=""/> 
                    <img src="/img/image-catalog/catalog-solar-d5 1.png" alt="Wrist watch" style="display: block;"/>
                </picture>
                <div class="container-catalog-name">
                  <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
                  <p class="catalig-price">€400</p>
                </div>
            </li>
            <li class="catalog-item">
              <div class="catalog-cover">
                <picture>
                    <source media="(min-width:1280px)" srcset="/img/image-catalog/catalog-tube-d6 1.png , /img/image-catalog/catalog-tube-d6 @2x.png">
                    <source media="(min-width:768px)" srcset="/img/image-catalog/catalog-tube-tab6 1.png , /img/image-catalog/catalog-tube-tab6 @2x.png">
                    <source media="(min-width:320px)" srcset=""/> 
                    <img src="../img/image-catalog/catalog-tube-d6 1.png" alt="Wrist watch" style="display: block;"/>
                </picture>
                <div class="container-catalog-name">
                  <h3 class="catalog-subtitle">Tube Watch S42 Date Steel With Black Case</h3>
                  <p class="catalig-price">€395</p>
                </div>
            </li>
        </ul>
     <button type="submit" class="catalog-btn">Show more</button>
    </div>
</section>