<section class="section" id="contact">
  <div class="container">
    <h2 class="heading">Contact US</h2>
    <div class="contact-info">
      <div class="contact-block">
        <p class="text-contact-info text-idiscription">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <form class="contact-form">
          <div class="input-fields">
            <div class="usher-contact">
              <input
                class="contact-field"
                id="user-name"
                type="text"
                name="user-name"
                placeholder="Name"
                pattern="[A-Z]][a-z]{1,15}"
                required
              />
            </div>
            <div class="usher-contact">
              <input
                class="contact-field"
                id="user-email"
                type="email"
                name="user-email"
                placeholder="Email"
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                required
              />
            </div>
            <div class="usher-contact">
              <input
                class="contact-field"
                id="user-tel"
                type="tel"
                name="user-tel"
                placeholder="+380"
                pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
                required
              />
            </div>
            <div class="usher-contact-text">
              <textarea
                class="text-comment"
                name="user-comment"
                id="user-comment"
                placeholder="Comment"
              ></textarea>
            </div>
          </div>
          <button class="button-contact" type="submit">Send</button>
        </form>
      </div>
      <div class="contact-pictures">
        <picture>
          <source
            srcset="
              /img/img-contact/contact-desk@1x.png 1x,
              /img/img-contact/contact-desk@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/img-contact/contact-tab@1x.png 1x,
              /img/img-contact/contact-tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/img-contact/contact-mob@1x.png 1x,
              /img/img-contact/contact-mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="contact-image"
            src="/img/img-contact/contact-mob@1x.png"
            alt="premium-watches-image"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
