footer class="footer" id="footer">
    <div class="container">
    <div class="footer-container">
    <div class="upper-wrapper">
    <div class="logo-social-wrapper">
    <a href="#home" class="logo-link">watchcharm</a>
    
    
    <ul class="social-list">
        <li class="social-item">
            <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            class="footer-social-link">
        <svg class="icon">
            <use href="/img/sprite.svg#icon-facebook"></use>
        </svg>
        </a>
        </li>
<li class="social-item">
<a
href="https://www.instagram.com/goitclub/"
target="_blank"
class="footer-social-link"
>
<svg class="icon">
    <use href="/img/sprite.svg#icon-instagram"></use>"
</svg>
</a>
</li>
<li class="social-item">
    <a
    href="https://www.youtube.com/c/GoIT"
    target="_blank"
    class="footer-social-link">
<svg class="icon">
    <use href="/img/sprite.svg3icon-yotube"></use>
</svg>
</a>
</li>
</ul>
</div>   
  <a class="footer-phone" href="tel:+380960000000">+380(68)443-94-26 </a>
  <p class="footer-text"></p>
  Have the time of your life with our watches: where high-class 
  craftsmanship meets smpeccable desing </p>  
  </div>