<header class="header">
  <div class="container">
    <nav class="header-navigation">
      <a href="#" class="header-logo">watchcharm</a>
      <button type="button" class="open-menu-btn">
        <svg class="open-menu-icon" width="34" height="34">
          <use href="../img/icons.svg#open-menu-icon"></use>
        </svg>
      </button>
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a href="#home" class="header-menu-link">Home</a>
        </li>
        <li class="header-menu-item">
          <a href="#about" class="header-menu-link">About Us</a>
        </li>
        <li class="header-menu-item">
          <a href="#catalog" class="header-menu-link">Catalog</a>
        </li>
        <li class="header-menu-item">
          <a href="#sale" class="header-menu-link">Sale</a>
        </li>
        <li class="header-menu-item">
          <a href="#reviews" class="header-menu-link">Reviews</a>
        </li>
        <li class="header-menu-item">
          <a href="#contact" class="header-menu-link">Contact Us</a>
        </li>
      </ul>
      <ul class="header-socials-list">
        <li class="header-socials-item">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            class="header-socials-link"
          >
            <svg class="header-socials-icon" width="20" height="20">
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-socials-item">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="header-socials-link"
            ><svg class="header-socials-icon" width="20" height="20">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-socials-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            class="header-socials-link"
            ><svg class="header-socials-icon" width="20" height="20">
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!--Mobile menu-->
  <div class="mob-menu-overlay">
    <div class="mob-menu">
      <button type="button" class="close-mob-menu-bnt">
        <svg class="close-menu-icon" width="34" height="34">
          <use href="../img/icons.svg#close-menu-icon"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
