<section class="hero" id="home">
  <div class="container">
    <div class="container-hero">
      <div class="container-hero-title">
        <h1 class="hero-title">
          Welcome to our <span class="hero-title-item">collection</span> of
          premium watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>

      <div class="container-hero-item">
        <div class="container-item-picture">
          <img
            class="hero-item-picture"
            srcset="
              /img/hero-img/customers1-1x.jpg 1x,
              /img/hero-img/customers1-2x.jpg 2x
            "
            src="/img/hero-img/customers1-1x.jpg"
            alt="Customers"
            width="60"
          />
          <img
            class="hero-item-picture"
            srcset="
              /img/hero-img/customers2-1x.jpg 1x,
              /img/hero-img/customers2-2x.jpg 2x
            "
            src="/img/hero-img/customers2-1x.jpg"
            alt="Customers"
            width="60"
          />
          <img
            class="hero-item-picture"
            srcset="
              /img/hero-img/customers3-1x.jpg 1x,
              /img/hero-img/customers3-2x.jpg 2x
            "
            src="/img/hero-img/customers3-1x.jpg"
            alt="Customers"
            width="60"
          />
        </div>

        <a class="hero-item-link" href="#footer">Scroll down</a>
      </div>
    </div>

    <picture class="hero-picture">
      <source
        srcset="
          /img/hero-img/Premium-watch-desk-1x.jpg 1x,
          /img/hero-img/Premium-watch-desk-2x.jpg 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          /img/hero-img/Premium-watch-tbl-1x.jpg 1x,
          /img/hero-img/Premium-watch-tbl-2x.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          /img/hero-img/Premium-watch-mob-1x.jpg 1x,
          /img/hero-img/Premium-watch-mob-2x.jpg 2x
        "
        media="(min-width:320px)"
      />
      <img
        src="/img/hero-img/Premium-watch-desk-1x.jpg"
        alt="Premium watch"
        width="1150"
      />
    </picture>
  </div>
</section>
