<section class="section-sale" id="sale">
    <div class="container">
        <div class="sale-list">
        <h2 class="sale-title">Sale</h2>
        <div class="sale-wrapper">
        <div class="sale-watch-wrapper">
            <ul class="sale-foto-list">
            <li class="sale-foto-item">
                <picture>
                <source
                    srcset="
                    /img/sale/sale-1x/mob/a-watch-mob-1x.png 1x,
                    /img/sale/sale-2x/mob/a-watch-mob-2x.png 2x
                    "
                    media="(max-width: 767px)"
                />
                <source
                    srcset="
                    /img/sale/sale-1x/tab/a-watch-tab-1x.png 1x,
                    /img/sale/sale-2x/tab/a-watch-tab-2x.png 2x
                    "
                    media="(min-width: 768px)"
                />
                <img
                    src="/img/sale/sale-1x/tab/a-watch-tab-1x.png"
                    alt="Front image of the watch"
                    width="52"
                    height="54"
                    class="sale-image"
                />
                </picture>
            </li>
            <li class="sale-foto-item">
                <picture>
                <source
                    srcset="
                    /img/sale/sale-1x/mob/b-watch-mob-1x.png 1x,
                    /img/sale/sale-2x/mob/b-watch-mob-2x.png 2x
                    "
                    media="(max-width: 767px)"
                />
                <source
                    srcset="
                    /img/sale/sale-1x/tab/b-watch-tab-1x.png 1x,
                    /img/sale/sale-2x/tab/b-watch-tab-2x.png 2x
                    "
                    media="(min-width: 768px)"
                />
                <img
                    src="/img/sale/sale-1x/tab/b-watch-tab-1x.png"
                    alt="Front image of the watch"
                    width="52"
                    height="54"
                    class="sale-image"
                />
                </picture>
            </li>
            <li class="sale-foto-item">
                <picture>
                <source
                    srcset="
                    /img/sale/sale-1x/mob/c-watch-mob-1x.png 1x,
                    /img/sale/sale-2x/mob/c-watch-mob-2x.png 2x
                    "
                    media="(max-width: 767px)"
                />
                <source
                    srcset="
                    /img/sale/sale-1x/tab/c-watch-tab-1x.png 1x,
                    /img/sale/sale-2x/tab/c-watch-tab-2x.png 2x
                    "
                    media="(min-width: 768px)"
                />
                <img
                    src="/img/sale/sale-1x/tab/c-watch-tab-1x.png"
                    alt="Side image of the watch"
                    width="52"
                    height="54"
                    class="sale-image"
                />
                </picture>
            </li>
            <li class="sale-foto-item">
                <picture>
                <source
                    srcset="
                    /img/sale/sale-1x/mob/d-watch-mob-1x.png 1x,
                    /img/sale/sale-2x/mob/d-watch-mob-2x.png 2x
                    "
                    media="(max-width: 767px)"
                />
                <source
                    srcset="
                    /img/sale/sale-1x/tab/d-watch-tab-1x.png 1x,
                    /img/sale/sale-2x/tab/d-watch-tab-2x.png 2x
                    "
                    media="(min-width: 768px)"
                />
                <img
                    src="/img/sale/sale-1x/tab/d-watch-tab-1x.png"
                    alt="Back image of the watch"
                    width="52"
                    height="54"
                    class="sale-image"
                />
                </picture>
            </li>
            </ul>
            <div class="sale-wrap-big-img">
            <picture>
                <source
                srcset="
                    /img/sale/sale-1x/mob/e-watch-mob-1x.png 1x,
                    /img/sale/sale-2x/mob/e-watch-mob-2x.png 2x
                "
                media="(max-width: 767px)"
                />
                <source
                    srcset="
                    /img/sale/sale-1x/tab/e-watch-tab-1x.png 1x,
                    /img/sale/sale-2x/tab/e-watch-tab-2x.png 2x
                    "
                    media="(min-width: 768px)"
                />
                <img
                    src="/img/sale/sale-2x/tab/e-watch-tab-2x.png"
                    alt="Front image of the watch"
                    class="sale-big-img"
                />
                </picture>
            </div>
            </div>
            <div class="sale-info-block">
            <h3 class="sale-info-title">
                MARQ® Commander (Gen 2) - Carbon Edition
            </h3>
            <p class="sale-tag">Product tag: 706587</p>
            <div class="sale-price-container">
                <p class="sale-price">€1500</p>
                <p class="sale-original-price">€3000</p>
            </div>
            <p class="sale-text">
                The Garmin MARQ Commander Gen 2 Carbon Edition is a modern
                smartwatch for adventurers that takes materials and features to the
                next level. The body of the watch is made of very durable Fused
                Carbon Fiber material and has a precise AMOLED touch screen. The
                sensitive touch screen is complemented by buttons that can be used
                in any conditions.
            </p>
            <ul class="sale-info-list">
                <li class="sale-info-item">
                <p class="sale-info-item-text">Fused carbon fiber</p>
                </li>
                <li class="sale-info-item">
                <p class="sale-info-item-text">Grade-5 Titanuim</p>
                </li>
                <li class="sale-info-item">
                <p class="sale-info-item-text">Athlete</p>
                </li>
                <li class="sale-info-item">
                <p class="sale-info-item-text">Golfer</p>
                </li>
                <li class="sale-info-item">
                <p class="sale-info-item-text">Commander</p>
                </li>
                <li class="sale-info-item">
                <p class="sale-info-item-text">Adventurer</p>
                </li>
            </ul>
            </div>
        </div>
        </div>
    </div>
</section>